<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Project</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/details.css">
    <script src="js/script.js"></script>
</head>


<body>


    <section id="header">
        <a href="#"><img src="img/logo.png" class="logo" alt=""></a>

        <div>
            <ul id="navbar">
                <li><a class="active" href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                <li id="lg-bag"><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
                <a href="#" id="close"><i class="far fa-window-close"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>


